$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Responsive setup
img,
iframe,
video {
    max-width: 100%;
}

// Typography
body {
    background: #303030;
    color: #fff;
    font-family: Helvetica Neue, Helvetica, arial, san-serif;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #fff;
    text-decoration: underline;

    &:hover {
        color: #ccc;
    }
}

// Intro
div.intro {
    padding: $grid-gutter-width;
}

// Header
div.header {
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    padding: 4px 0 5px;
    text-transform: uppercase;

    img.channel-logo {
        margin-left: 8px;
        width: 40px;
    }

    p {
        margin: 0;
    }
}

// Channel list
div.channel-list {
    div {
        margin-bottom: 4px;
        padding: 0 2px;
    }
}

// Questions
div.question {
    font-weight: bold;
    padding: $grid-gutter-width 0;
}

div.answers.solid-background {
    background: #eaeaea;
}

div.answer {
    background: #eaeaea;
    color: #303030;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4px;
    padding: $grid-gutter-width;

    &.correct {
        background: #01aa70;
        color: #fff;
    }

    &.col-xs-12.wrong {
        background: #4c4c4c;
        color: #3d3d3d;

        img {
            opacity: .2;
        }
    }

    &.col-xs-6 {
        margin-bottom: 0;

        &.clear-left {
            clear: left;
        }

        &.wrong {
            img {
                opacity: .2;
            }
        }
    }
}

// Result
div.result {
    img {
        margin: $grid-gutter-width 0;
    }

    p {
        margin-left: $grid-gutter-width / 2;
        margin-right: $grid-gutter-width / 2;
    }
}

.button-single {
    display: block;
    background: #eaeaea;
    color: #303030;
    font-size: 24px;
    line-height: 28px;
    margin-top: $grid-gutter-width;
    margin-bottom: 4px;
    padding: $grid-gutter-width;
}
