<div class="questions" ng-if="currentChannel">
    <div class="header" style="background: #{{ currentChannel.color }}">
        <p>Du lyssnar på:<img ng-src="{{ currentChannel.image }}" class="channel-logo" alt="{{ currentChannel.name }}"></p>
    </div>
    <div ng-if="!currentlyPlaying.artist">
        <div class="container">
            <div class="row question">
                Just nu spelar {{ currentChannel.name }} ingen musik.
                <div ng-click="reloadPage()" class="button-single">Välj en ny kanal</div>
            </div>
        </div>
    </div>
    <div ng-if="currentlyPlaying.artist && !artistResult">
        <div class="container">
            <div class="row question">
                {{ question.question }}
            </div>
            <div class="row answers" ng-class="{'solid-background' : question.answers[0].image}">
                <div class="answer" ng-repeat="answer in question.answers" ng-click="checkAnswer(answer)" ng-class="{'correct' : (answer.selected && answer.correct), 'wrong' : (answer.selected && !answer.correct), 'col-xs-12' : (answer.text), 'col-xs-6' : (answer.image), 'clear-left' : ($index == 2)}">
                    <span ng-if="answer.text">{{ answer.text }}</span>
                    <img ng-if="answer.image" ng-src="{{ answer.image }}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container result" ng-if="artistResult">
        <div class="row question">
            <p>{{ currentlyPlaying.artist }}<br>({{ currentlyPlaying.title }})</p>
            <img ng-src="{{ artistResult.artist.image[4]['#text'] }}" alt="">
            <p ng-bind-html="renderHtml(artistResult.artist.bio.content)">{{ artistResult.artist.bio.content }}</p>
            <div ng-click="reloadPage()" class="button-single">Välj en ny kanal</div>
        </div>
    </div>
</div>
<div class="container" ng-if="!currentChannel">
    <div class="row">
        <div class="col-xs-12 intro">
            <img src="images/melodigeni.gif" alt="Melodigeni">
            <p>Musikquiz i direktsändning<br>
            <strong>Vilken kanal lyssnar du på?</strong></p>
        </div>
    </div>
    <div class="row channel-list">
        <div class="col-xs-4 col-sm-3 col-lg-2" ng-repeat="channel in channels.channels" ng-if="channel.image" ng-click="selectChannel(channel)">
            <img ng-src="{{ channel.image }}" alt="{{ channel.name }}">
        </div>
    </div>
</div>
<p class="credits">Skapad av <a href="http://www.annikabackstrom.se" target="_blank">Annika</a> och <a href="https://filipjohansson.se" target="_blank">Filip</a> på <a href="http://www.hackaway.com" target="_blank">Hackaway #2</a>.</p>
